---
layout: page
title: Coursework
permalink: /academics/
---

<style type="text/css">
	a:hover {
		cursor: pointer;
	}
</style>

<p>These are some of the relevant/cool courses I had the privilege of taking and being a TA for during my time at Penn.</p>

{% include course-list.html subject="Math" color="#0000cc" course_list=site.math_courses %}
{% include course-list.html subject="CS" color="#cc0000" course_list=site.cs_courses %}
{% include course-list.html subject="TA" color="#0000cc" course_list=site.ta_courses %}

